// Add your custom CSS here.
@media (max-width: 767px) {
  .banners-grid.my-3.my-md-4.my-lg-5 div.col-12.col-lg-3.mb-3.mb-lg-0 {
    max-width: 50%;
    flex: 0 0 50%;
    padding: 0 5px;
  }
  
  .banners-grid.my-3.my-md-4.my-lg-5 {
    margin-left: -5px;
    margin-right: -5px;
  }
}
